

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --gray-1: #111;
    --gray-2: #191919;
    --gray-3: #222;
    --gray-4: #2a2a2a;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;
}

html{
    background-color: var(--gray-1);
    font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
}
.bg-primary{
    background-color: var(--gray-1);
}
.app{
    height: 100vh;
    width: 100vw;
   background-color: var(--gray-1);
}

.text-secondary{
    color: var(--gray-11);
    font-family: 'Inter', sans-serif;
    
}
.text-primary{
    color: var(--gray-12);
    font-family: 'Inter', sans-serif;

}
.header{
    color: var(--gray-12) !important;
}
.inter{
    font-family: 'Inter', sans-serif !important;
}
.text-secondary:hover{
    color: white !important;
}
.editor-bg{
 background-color: #041447;    
}
